* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  background: #fff5f5;
  background:
    linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 229, 229, 0.8)),
    url("../imagenes/cara.jpg") no-repeat center center fixed;
  background-size: cover;
}

#historia {
  padding: 25px;
  margin-bottom: 20px;
}

#titulo {
  text-align: center;
  color: #333333;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

#texto {
  margin-bottom: 20px;
  line-height: 1.6;
}

button {
  background: #8b0000;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: 0.3s ease;
}

button:hover {
  background: #ff4d4d;
  transform: scale(1.05);
}

article h2 {
  color: #333333;
  margin-bottom: 10px;
}

article p {
  margin-bottom: 15px;
  line-height: 1.6;
}

#mapadenavarra {
  margin-top: 20px;
  text-align: center;
}

#mapadenavarra h3 {
  color: #333333;
  margin-bottom: 10px;
}

#mapadenavarra img {
  width: 260px;
  border-radius: 8px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  transition: 0.3s;
  margin-top: 10px;
}

nav a:hover {
  background: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.api-section {
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
}

.api-section h2 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: #333333;
  text-align: center;
}

.buscador {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buscador input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ffcccc;
  background: white;
}

.buscador button {
  padding: 10px 15px;
  border-radius: 8px;
  background: #8b0000;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.buscador button:hover {
  background: #ff4d4d;
  transform: scale(1.05);
}

#resultadosLibros {
  margin-top: 20px;
}

.libro {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: 0.3s ease;
}

.libro:hover {
  background: #fff0f0;
  border-color: #ff4d4d;
  transform: scale(1.02);
}
